.container-fluid{
  display: grid;
  width: auto;
}
.card{
  margin-top: 100px;
  margin-left: 250px;
  width: 600px;
  height: auto;
}
.item-card{
  width: 500px;
  /*position: center;*/
  margin: 35px;
  margin-left: 40px;
  height: auto;
}
.item-card h5{
  padding-top: 10px;
  padding-left: 20px;
}
.quote{
  margin-left: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-language-override: normal;
}
.delete{
  margin-left: 20px;
  margin-bottom: 10px;
  float: left;
  position: relative;
}
.toggle{
  margin-right: 20px;
  margin-bottom: 10px;
  float: right;
}
@media (min-width: 760px) {
  .container-fluid{
    width: auto;
  }
  .vote{
      margin-right: 400px;
    }
}
/*@media all {*/
/*  .card{*/
/*    width: 300px;*/
/*    margin-right: 300px;*/
/*  }*/
/*}*/
