
<div class="container">
  <p class="author"><i>~{{quote.author}}</i></p>
  <div class="vote">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <p><i class="far fa-thumbs-up" (click)="likeQuote()"></i> {{quote.upVote}}</p>
          </div>
          <div class="col-md-3">
            <p><i class="far fa-thumbs-down" (click)="dislikeQuote()"></i> {{quote.downVote}}</p>
          </div>
        </div>
      </div>
      <div class="col md-6">

      </div>
    </div>



  </div>
</div>
